  <div *ngIf="showAnime" class="container">
    <div class="row">
      <div class="col">
        <button (click)="showAnimation();">Show Animation</button>
      </div>
    </div>
  </div>
  <div *ngIf="!showAnime" class="container">
  <div [@inOut]="isIn1 ? 'in1' : 'out1'">
	<div class="row">
	  <div class="col text-center">
      <div class="card" id="card-header">
        <h1>This is a test heading.</h1>
      </div>
	  </div>
  </div>
  </div>
  <div [@inOut]="isIn2 ? 'in2' : 'out2'">
  <div class="row">
		<div class="col">
      <div class="card" id="card-body">
        <h2>This is a Test Body.</h2>
      </div>
    </div>
	</div>
  </div>
  <div [@inOut]="isIn3 ? 'in3' : 'out3'">
  <div class="row">
		<div class="col text-center">
      <div class="card" id="card-footer">
        <h1>This is a Test Footer.</h1>
      </div>
    </div>
	</div>
  </div>
</div>